.home-container {
    display: flex;
    flex-direction: row;
}

.cc-container {
    max-width: 25%;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(56, 54, 54);
    border-radius: 2px;
}

.cc-title {
    font-size: 20px;
    color: white;
}