.home-container {
    display: flex;
    flex-direction: row;
    vertical-align: center;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
    max-width: 100%;
    max-height: 100%;
}

.cc-container {
    border: none;
    border-radius: 6px;
    height: 150px;
    width: 200px;
    vertical-align: center;
    align-items: center;
    text-align: center;
    filter: drop-shadow(0px 4px 6px #0008);
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.cc-title {
    font-size: 25px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.add-course-button {
    font-size: 25px;
    background-color: gray;
    color:white;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(56, 54, 54);
    border-radius: 5px;
    height: 150px;
    width: 200px;
    margin-right: 10px;
}