.loginForm {
 margin: auto;
 box-sizing: border-box;
 width: 424px;
 height: 429px;
 text-align: center;
 background: #fff;
}

.username-container {
  padding-top: 30px;
}

.password-container {
  padding-top: 20px;
}

.login-logo-container {
	max-width: 100%;
  max-height: 100%;
	flex-grow: 1;
	flex-basis: 10%;
	overflow: hidden;
  padding-top: 33px;
}

.login-logo {
	position: relative;
	max-width: 35%;
  max-height: 40%;
  
}

.input {
 box-sizing: border-box;
 outline: none;
 border: solid 2px #8B8888;
 border-radius: 4px;
 border-width: thin;
 color: #292929;
 width: 298px;
 padding: 14px;
 height: 55px;
 font-size: 14px;
 background: rgba(255, 255, 255, 1);
}

.submitButton {
 padding-top: 32px;
}

.forgotPassword {
  color: #0287C0;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: lighter;
}
.forgotpassword-container {
  padding-top: 4px;
  text-align: left;
  padding-left: 65px;
}

.submitBtn {
 width: 259px;
 height: 43px;
 color: #fff;
 font-size: 17px;
 font-weight: normal;
 background: #0077B5;
 cursor: pointer;
 border: none;
 border-radius: 30px;
}

.login {
  padding: 5%
}