.course .create-panel {
	width: 18%;
	display: inline-block;
}

.course .create-panel .button {
	width: 100%;
	padding: 0.4em 0.8em;
	border: none;
	border-radius: 4px;
	font-size: 1.2em;
	font-weight: bold;
	text-align: left;
	cursor: pointer;
	color: #FFF;
}

.course .button.new-lecture {
	background-color: #1976D2;
}