/*****************************************************************************/
/* MAIN */

.course {
	padding: 20px calc((100% - 1400px) / 2.0);
	background-color: #DDD;
	white-space: nowrap;
	position: relative;
}

/*****************************************************************************/
/* FILTER */

.course .filter-panel {
	padding-left: 1%;
	width: 18%;
	display: inline-block;
}

/*****************************************************************************/
/* FEED */

.course .feed {
	width: 58%;
	padding: 0px 2%;
	display: inline-flex;
	flex-direction: column;
	gap: 10px;
}

.course .feed .post {
	width: 100%;
}

.course .post .container {
	display: flex;
	flex-direction: column;
	height: calc(100% - 12px);
	width: calc(100% - 32px);
	padding: 6px 16px;
}

.course .post .top {
	width: 100%;
	height: 3.8em;
	display: flex;
	flex-direction: row;
	align-items: end;
}

.course .post .top .title-container {
	height: 100%;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
}

.course .post .top .tags {
	flex-grow: 1;
	display: flex;
	align-items: center;
	font-size: 0.8em;
}

.course .post .tags > img {
	height: 1.3em;
}

.course .post .tags .type {
	color: #888;
	font-weight: bolder;
	margin-left: 4px;
	margin-right: 16px;
}

.course .post .tags .live {
	color: #F00;
	font-weight: bold;
	margin-left: 4px;
	margin-right: 16px;
}

.course .post .top .title {
	height: 50%;
}
.course .post .top .title > span {
	font-size: 1.6em;
	font-weight: bold;
	color: #000;
	position: relative;
	bottom: 0.2em;
}

.course .post .content {
	flex-grow: 1;
	width: calc(100% - 12px);
	padding: 12px 6px;
}

.course .post .bottom {
	width: 100%;
	height: 1.2em;
	margin-top: 12px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.course .post .footer-text {
	color: #444;
	font-style: italic;
}

.course .post .timestamp {
	color: #888;
	margin-left: auto;
}

/*****************************************************************************/
/* LECTURE POST */

.course .lecture {
	background-color: #FFFFFF;
}
.course .lecture.live {
	background-color: #F8FFF5;
}

.course .lecture .content {
	font-style: italic;
}

/*****************************************************************************/
/* CREATE */

.course .create-panel {
	width: 18%;
	display: inline-block;
}

.course .button {
	width: 100%;
	padding: 0.4em 0.8em;
	border: none;
	border-radius: 4px;
	font-size: 1.2em;
	font-weight: bold;
	text-align: left;
	cursor: pointer;
}

.course .button.new-lecture {
	background-color: #1976D2;
}

/*****************************************************************************/
/* LECTURE POP-UP */

.course .nl-popup {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	backdrop-filter: blur(3px);
}
.course .nl-popup > div {
	position: relative;
	width: 90%;
	height: 90%;
	top: 10%;
	left: 5%;
	background-color: #FFF;
}

.course .nl-popup .header {
	width: calc(100% - 44px);
	display: flex;
	padding: 12px 16px 12px 28px;
	align-items: end;
}

.course .nl-popup .title {
	font-size: 2em;
	margin-right: auto;
}
.course .nl-popup .close {
	font-size: 2.4em;
	font-weight: bold;
	color: #444;
	border: none;
	background: none;
	cursor: pointer;
}

.course .nl-popup .header-line {
	width: calc(100% - 40px);
	margin: 0px 20px 28px 20px;
	height: 1px;
	background-color: #4444;
}

.course .nl-popup .input-container {
	margin: 0px 40px;
	display: flex;
}

.course .nl-popup .input-container .label {
	margin-right: 10px;
	display: flex;
	font-weight: bolder;
}
.course .nl-popup .input-container .label > span {
	margin: auto;
}

.course .nl-popup .input-container > input {
	padding: 4px 8px;
	flex-grow: 1;
	border: 2px solid #D5D5D5;
	border-radius: 6px;
}

.course .nl-popup .input-container > input.invalid {
	border-color: #F00;
}

.course .nl-popup .submit {
	display: block;
	margin: 24px auto 0px auto;
	padding: 6px 24px;
	border: none;
	border-radius: 6px;
	background: none;
	background-color: #1976D2;
	color: #FFF;
	font-size: 1.4em;
	font-weight: bold;
	cursor: pointer;
}