.topbar {
	background-color: #242424;
	width: 100%;
	height: 60px;
	display: flex;
	position: relative;
	z-index: 100;
	user-select: none;
}

.topbar-dropdown {
	background-color: #d2d2d2;
	height: 100%;
	overflow: hidden;
	flex-grow: 1;
	flex-basis: 45%;
	transition: all 0.06s ease-out;
}

.topbar-course-dropdown {
	max-width: 400px;
}

.topbar-user-dropdown {
	max-width: 400px;
}

.topbar-dropdown-top {
	background-color: #363636;
	height: 60px;
	width: 100%;
	display: flex;
	transition: all 0.06s ease-out;
}
.topbar-dropdown-top:hover {
	background-color: #484848;
	cursor: pointer;
}

.topbar-dropdown-image-container {
	height: 100%;
	width: 60px;
}

.topbar-dropdown-arrow {
	position: relative;
	height: 30%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: all 0.06s ease-out;
}

.topbar-dropdown-title {
	height: 100%;
	width: calc(100% - 70px);
	line-height: 60px;
	color: white;
	font-weight: bold;
	font-size: 115%;
}

.topbar-dropdown-bottom {
	top: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.topbar-dropdown-option {
	width: 95%;
	height: 50px;
	display: flex;
	align-items: center;
	gap: 8px;
	font-size: 115%;
}

.topbar-dropdown-course-notifs {
	position: relative;
	height: fit-content;
	font-weight: bold;
	border-radius: 10px;
	padding: 3px 7px;
}
.topbar-dropdown-course-notifs-nonzero {
	background-color: red;
	color: white;
}
.topbar-dropdown-course-notifs-zero {
	background-color: white;
	color: gray;
}

.topbar-dropdown-option-title {
	flex-grow: 1;
	font-weight: bold;
}

.topbar-dropdown-separator {
	background-color: #bbb;
	width: 95%;
	height: 1px;
}

.topbar-user-info-container {
	height: 100%;
	width: calc(100% - 120px);
	padding-left: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.topbar-user-info {
	display: block;
	width: 100%;
	text-align: right;
	font-weight: bold;
}

.topbar-user-info-name {
	line-height: 1;
	font-size: 115%;
	color: white;
}

.topbar-user-info-email {
	font-size: 90%;
	color: #bbb;
}

.topbar-user-badge {
	background-color: white;
	position: relative;
	height: 70%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
}

.topbar-dropdown-option-image {
	position: relative;
	height: 80%;
}

.topbar-logo-container {
	height: 100%;
	flex-grow: 1;
	flex-basis: 10%;
	overflow: hidden;
}

.topbar-logo {
	position: relative;
	height: 70%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 0px 10px;
}