version: '3.7'

services:
  db:
    image: mysql:8.0.3
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: "${MYSQL_ROOT_PASSWORD}"
      MYSQL_DATABASE: "${MYSQL_DATABASE}"
    ports:
      - 3306:3306
    volumes:
     - "../sql/init.sql:/docker-entrypoint-initdb.d/1.sql"
  adminer:
    image: adminer
    restart: always
    ports:
     - 8080:8080
     