.left-menu-container {
    display: block;
    width: 13%;
    height: calc(100vh - 140px);
    background-color: rgb(176, 176, 176);
    position: relative;
    padding-right: 0;
    margin-right: 0;
}

.button {
    background-color: rgb(60, 16, 16);
    color: white;
    padding-top: 20px;
}

.button-LLLM {
    padding-top: 10px;
    padding-left: 5px;
}

.list-layout{
    margin: 0px;
    list-style-type: none;
    padding: 0;
    padding-top: 10px;
    margin-top: 10px;
}

.list-item {
    margin-left: 2px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    line-height: 15px;
}

.filter-box-in-left-menu {
    width: 90%;
    margin-left: auto;
    margin-right:2px;
}

.live-lecture-outline {
    background-color: white;
}

.button-LLLM-raise-hand {
    border-radius: 50%;
    background-color: rgb(0, 140, 255);
    padding:15px;
    color: white;
    border-color: rgb(0, 140, 255);
    
}
.button-LLLM-new-post {
    margin-top: 10px;
    border-radius: 10%;
    border-color: rgb(0, 140, 255);
    background-color: rgb(0, 140, 255);
    color: white;
    height: 35px;
    width: 100px;
}

.post-LLLM {
    margin-left: 10px;
    padding-right: 5px;
}

.buttons-LLLM {
    padding-top: 40%;
    margin-top: auto;
    margin-bottom: 0;
    padding-right: 70%;
    padding-left: 5%;
}

.hand-icon-LLLM {
    width: 20px;
}