/*Background Container*/
.white-container {
    background-color: white;
    width: 900px;
    margin-top: 20px;
    margin: auto;
    border-color:black;
}
/*-------------------------------------------------------*/

/*Poll Participation Header*/
.header {
    font-weight: bold;
    font-family: Calibri;
}
/*-------------------------------------------------------*/

/* 'X' Close button design, animation*/
.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
}
.close-button {
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
    overflow: hidden;
}
.close-button > div {
    position: relative;
}
.close-button-block {
    width: 30px;
    height: 15px;
    position: relative;
    overflow: hidden;
}
.close-button-block:before, .close-button-block:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: calc(55% - 4px);
    display: block;
    width: 4px;
    height: 20px;
    transform-origin: bottom center;
    background: grey;
    transition: all ease-out 280ms;
}
.close-button-block:last-of-type {
    transform: rotate(180deg);
}
.close-button .in .close-button-block:before {
    transition-delay: 280ms;
    transform: translateX(20px) translateY(-20px) rotate(45deg);
}
.close-button .in .close-button-block:after {
    transition-delay: 280ms;
    transform: translateX(-22px) translateY(-22px) rotate(-45deg);
}
.close-button .out {
    position: absolute;
    top: 0;
    left: 0;
}
.close-button .out .close-button-block:before {
    transform: translateX(-5px) translateY(5px) rotate(45deg);
}
.close-button .out .close-button-block:after {
    transform: translateX(5px) translateY(5px) rotate(-45deg);
}
.close-button:hover .in .close-button-block:before {
    transform: translateX(-5px) translateY(5px) rotate(45deg);
}
.close-button:hover .in .close-button-block:after {
    transform: translateX(5px) translateY(5px) rotate(-45deg);
}
.close-button:hover .out .close-button-block:before {
    transform: translateX(-20px) translateY(20px) rotate(45deg);
}
.close-button:hover .out .close-button-block:after {
    transform: translateX(20px) translateY(20px) rotate(-45deg);
}
/*-------------------------------------------------------*/
/*CSV Download Button*/
.button-csv-download {
	padding: 0.4em 0.8em;
	border: none;
	border-radius: 4px;
	font-size: 1.2em;
	font-weight: bold;
	text-align: left;
	cursor: pointer;
	color: white;
	background-color: #1976D2;
}
.button-csv-download:hover {
    color: #1976D2;
    background-color: white;
    border: 2px solid #1976D2;
}
