openapi: 3.0.3
info:
  title: sdmay23-40 Interactive Classroom Backend - OpenAPI 3.0
  description: |-
    These are the api documents for the sdmay23-40 backend
    Some useful links:
    - [sdmay23-40 repository](https://git.ece.iastate.edu/sd/sdmay23-40)
  contact:
    email: miller.tyler094@gmail.com
  version: 1.0.0
servers:
  - url: https://sdmay23-40.ece.iastate.edu:6000/api
tags:
  - name: user
    description: User api routes
  - name: message
    description: Message api routes
  - name: course
    description: course api routes
  - name: lecture
    description: lecture api routes
  - name: poll
    description: poll api routes
paths:
  /user:
    post:
      tags:
        - user
      summary: Add a new user to the system
      description: Add a new user to the system
      operationId: addUser
      requestBody:
        description: Create a new user in the system
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
        required: true
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  user_id:
                    type: integer
                    example: 2
        '403':
          description: Invalid Session
        '404':
          description: Invalid Body
        '500':
          description: Internal Server Error
    get:
      tags:
        - user
      summary: get user info
      description: get a users info by their id
      operationId: getUserInfo
      parameters:
        - in: query
          required: true
          name: id
          schema:
            type: integer
        - in: query
          required: true
          name: session_id
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  user_id:
                    type: integer
                    example: 2
                  email:
                    type: string
                    example: twmiller@iastate.edu
        '400':
          description: Invalid Parameters
        '403':
          description: Invalid Session
        '500':
          description: Internal Server Error
  /user/login:
    post:
      tags:
        - user
      summary: logs given user into system
      description: Logs user in, creates session, and returns session
      operationId: login
      requestBody:
        description: Create a new user in the system
        content:
          application/json:
            schema:
              properties:
                netId:
                  type: string
                  example: twiller
                password:
                  type: string
                  example: password
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  userId:
                    type: integer
                    example: 1
                  sessionId:
                    type: string
                    example: kjsahfkdsjhksdGjsjfjdwkj
        '400':
          description: Invalid Body
        '401':
          description: Incorrect Username or Password
        '500':
          description: Internal Server Error
  /user/logout:
    post:
      tags:
        - user
      summary: logs given user out of system
      description: Logs user in, creates session, and returns session
      operationId: logout
      requestBody:
        description: Create a new user in the system
        content:
          application/json:
            schema:
              properties:
                session_id:
                  type: string
                  example: kjhfksdkjvhsdkjvhdskj
        required: true
      responses:
        '200':
          description: Logged Out
        '403':
          description: Invalid Session
        '500':
          description: Internal Server Error
  /course:
    post:
      tags:
        - course
      summary: adds a new course to the system
      operationId: Create a new course
      requestBody:
        description: Create a new course in the system
        content:
          application/json:
            schema:
              properties:
                owner_id:
                  type: integer
                  example: 2
                course_title:
                  type: string
                  example: Course 2
                session_id:
                  type: string
                  example: kjhfksdkjvhsdkjvhdskj
        required: true
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  course_id:
                    type: integer
                    example: 1
        '400':
          description: Invalid Body
        '403':
          description: Invalid Session
        '500':
          description: Internal Server Error
  /lecture:
    post:
      tags:
        - lecture
      summary: adds a new lecture to the system
      requestBody:
        description: Create a new lecture in the system
        content:
          application/json:
            schema:
              properties:
                course_id:
                  type: integer
                  example: 2
                title:
                  type: string
                  example: Lecture 1
                session_id:
                  type: string
                  example: kjhfksdkjvhsdkjvhdskj
        required: true
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  lecture_id:
                    type: integer
                    example: 1
        '400':
          description: Invalid Body
        '403':
          description: Invalid Session
        '500':
          description: Internal Server Error
  /role:
    post:
      tags:
        - role
      summary: Adds a new role to the system
      requestBody:
        description: Create a new role in the system
        content:
          application/json:
            schema:
              properties:
                courseId:
                  type: integer
                  example: 2
                userID:
                  type: integer
                  example: 2
                role:
                  type: string
                  example: STUDENT/TA/PROFESSOR
                session_id:
                  type: string
                  example: kjhfksdkjvhsdkjvhdskj
        required: true
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  rollID:
                    type: integer
                    example: 1
        '400':
          description: Invalid Body
        '403':
          description: Invalid Session
        '500':
          description: Internal Server Error
  /poll-response:
    post:
      tags:
        - poll-response
        - poll
      summary: Adds a new poll-response to the system
      requestBody:
        description: Create a new poll-response in the system
        content:
          application/json:
            schema:
              properties:
                choiceId:
                  type: integer
                  example: 44
                userID:
                  type: integer
                  example: 88
                pollId:
                  type: string
                  example: 91
                session_id:
                  type: string
                  example: kjhfksdkjvhsdkjvhdskj
        required: true
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  pollResponseID:
                    type: integer
                    example: 24
        '400':
          description: Invalid Body
        '403':
          description: Invalid Session
        '500':
          description: Internal Server Error
  /message:
    post:
      tags:
        - message
      summary: adds a new message to the system
      requestBody:
        description: Create a new message in the system
        content:
          application/json:
            schema:
              properties:
                sender_id:
                  type: integer
                  example: 2
                body:
                  type: string
                  example: This is a message
                lecture_id:
                  type: integer
                  example: 1
                is_anonymous:
                  type: boolean
                  example: false
                parent_id:
                  type: integer
                  example: null
                session_id:
                  type: string
                  example: kjhfksdkjvhsdkjvhdskj
        required: true
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  message_id:
                    type: integer
                    example: 1
        '400':
          description: Invalid Body
        '403':
          description: Invalid Session
        '500':
          description: Internal Server Error
  /message/messagesByLecture:
    get:
      tags:
        - message
      summary: gets all messages and polls for a lecture
      description: gets all messages and polls for a lecture
      operationId: getMessagesAndPollsByLectureId
      parameters:
        - in: query
          required: true
          name: lecture_id
          schema:
            type: string
        - in: query
          required: false
          name: timestamp
          schema:
            type: string
        - in: query
          required: true
          name: session_id
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                  type: array
                  items:
                    anyOf:
                      - $ref: '#/components/schemas/Message'
                      - $ref: '#/components/schemas/Poll'
        '400':
          description: Invalid Parameters
        '403':
          description: Invalid Session
        '500':
          description: Internal Server Error
              

components:
  schemas:
    Message:
      type: object
      properties:
        sender_id:
          type: integer
          example: 2
        timestamp:
          type: string
          example: 2017-07-23 13:10:11
        role: 
          type: string
          example: owner
        netId:
          type: string
          example: twmiller
        body: 
          type: string
          example: This is an example message
        is_anonymous:
          type: boolean
          example: false
        parent_id:
          type: integer
          example: 3 | null
        message_id:
          type: integer
          example: 2
    Poll:
      type: object
      properties:
        poll_id:
          type: integer
          example: 2
        timestamp:
          type: string
          example: 2017-07-23 13:10:11
        question:
          type: string
          example: what is the speed of gravity?
        choices:
          type: array
          items:
            type: object
            properties:
              poll_choice_id:
                type: integer
                example: 1
              text:
                type: string
                example: 9.82m/s^2
              is_correct:
                type: boolean
                example: true
    User:
      type: object
      properties:
        netid:
          type: string
          example: username
        password:
          type: string
          example: password
        session_id:
          type: string
          example: wejhgkashghakjshgkjashkjlgh43hk4jh