/*****************************************************************************/
/* GLOBAL TYPE */

* {
	user-select: none;
}

body {
	margin: 0px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

textarea {
	font-family: inherit;
	user-select: auto;
}

a {
	color: inherit;
	text-decoration: none;
}
a:active {
	color: inherit;
}

div#main {
	display: flex;
	flex-direction: column;
	height: 100vh;
	overflow: hidden;
}

/*****************************************************************************/
/* GLOBAL CLASS */

.page {
	position: relative;
	flex-grow: 1;
	overflow-x: hidden;
	overflow-y: auto;
}

.overflow-ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.selectable {
	user-select: text;
}

.button {
	cursor: pointer;
}
.button:hover {
	filter: brightness(110%);
}
.button:active {
	filter: brightness(90%);
}

.standard.button {
	padding: 0.4em 0.8em;
	border: none;
	border-radius: 8px;
	font-size: 1.2em;
	font-weight: bold;
	text-align: left;
}