.account {
	width: calc(100% - 40px);
	max-width: 700px;
	padding: 20px;
	margin: 0 auto;
}

.account > h1 {
	text-align: center;
}

.account .field-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.account .account-field {
	width: 100%;
	display: flex;
	flex-direction: row;
	gap: 6px;
}

.account .account-field .button {
	padding: 4px 10px;
	font-size: 0.8em;
	margin: auto 0;
}
.account .account-field .button.save {
	background-color: #59B0FD;
}
.account .account-field .button.cancel {
	background-color: #DDD;
}

.account .account-field .label {
	width: 100px;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 10px;
	height: fit-content;
	font-weight: bolder;
	text-align: right;
}

.account .account-field .input {
	height: calc(1.2em + 12px);
	min-height: fit-content;
	padding: 4px 8px;
	flex-grow: 1;
	border: 2px solid #D5D5D5;
	border-radius: 6px;
	line-height: 1.2em;
}
.account .account-field div.input {
	cursor: pointer;
}