/*****************************************************************************/
/* FEED */

.lfeed {
	width: 100%;
	flex-grow: 1;
	overflow-x: hidden;
	overflow-y: auto;
	display: flex;
	flex-direction: column-reverse;
}

.lfeed .feed {
	padding: 1%;
	display: flex;
	flex-direction: column;
	gap: 6px;
	list-style: none;
}

/*****************************************************************************/
/* GENERIC POST */

.lfeed .post-timestamp {
	margin: 6px 8px 3px 8px;
	color: #888;
	font-weight: lighter;
}

.lfeed .user-container {
	margin-top: -7px;
	margin-bottom: -7px;
	padding: 0px 0px;
	float: left;
}
.lfeed .me .user-container {
	float: right;
}

.lfeed .post-bubble {
	padding: 10px 14px;
	border-radius: 12px;
	filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.07));
}

.lfeed .edit-delete {
	position: absolute;
	right: -5px;
	top: -16px;
	display: flex;
	gap: 2px;
	transform: translate(0px, 5px);
	filter: opacity(0%);
	transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
}
.lfeed .poll .edit-delete {
	right: -25px;
}
.lfeed .msg .post-bubble:hover .edit-delete,
.lfeed .poll .content:hover > span .edit-delete,
.lfeed .poll .option:hover .edit-delete {
	transform: translate(0px, 0px);
	filter: opacity(100%);
}

.lfeed .edit-delete > button {
	width: 25px;
	height: 25px;
	border: none;
	padding: 5px;
	border-radius: 50%;
}
.lfeed .edit-delete > button.edit {
	background-color: rgb(0, 200, 255);
}
.lfeed .edit-delete > button.delete {
	background-color: rgb(255, 0, 0);
}
.lfeed .edit-delete > button > img {
	width: 100%;
	height: 100%;
}

/*****************************************************************************/
/* MESSAGE */

.lfeed .msg {
	width: 60%;
	padding-left: 0%;
	padding-right: 40%;
}
.lfeed .msg.me {
	padding-left: 40%;
	padding-right: 0%;
}

.lfeed .msg .post-container {
	width: fit-content;
	margin-left: 0px;
	margin-right: auto;
}
.lfeed .msg.me .post-container {
	margin-left: auto;
	margin-right: 0px;
}

.lfeed .msg .post-bubble {
	width: fit-content;
	background-color: #F5F5F5;
	margin-left: 0px;
	margin-right: auto;
}
.lfeed .msg.me .post-bubble {
	position: relative;
	background-color: #DBF0FF;
	margin-left: auto;
	margin-right: 0px;
}

.lfeed .msg .post-bubble .standard.button {
	padding: 4px 8px;
	font-size: 0.8em;
	margin-right: 6px;
}
.lfeed .msg .post-bubble .standard.button.save {
	background-color: #0D0;
}
.lfeed .msg .post-bubble .standard.button.cancel {
	background-color: #DDD;
}

.lfeed .attachment-list {
	margin-top: 10px;
	display: flex;
}

.lfeed .attachment {
	display: flex;
	align-items: center;
	gap: 6px;
	padding: 6px;
	background-color: #FFF;
	border: 2px solid gray;
	border-radius: 6px;
	filter: drop-shadow(0 2px 2px #3336);
	cursor: pointer;
}
.lfeed .attachment .info-list {
	height: 24px;
	display: inline-flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}
.lfeed .attachment > img {
	display: inline;
	width: 24px;
	height: 24px;
}
.lfeed .attachment .info-list > div {
	color: #0077ff;
	font-weight: bold;
}
.lfeed .attachment .info-list > div.error {
	color: #e00000;
}

/*****************************************************************************/
/* POLL */

.lfeed .poll {
	width: 100%;
}

.lfeed .poll .post-bubble {
	background-color: #E9F8E7;
}

.lfeed .poll .poll-header {
	display: flex;
	gap: 1em;
}

.lfeed .poll .title-container {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.lfeed .poll .title-container .container {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.lfeed .poll .title-container .line {
	margin-top: 2px;
	height: 2px;
	background-color: rgba(0.5, 0.5, 0.5, 0.15);
}

.lfeed .poll .title {
	font-size: 1.5em;
	font-weight: bold;
}

.lfeed .poll .content > span {
	position: relative;
	display: inline-block;
	margin: 16px 0px;
}

.lfeed .poll .poll-header .button {
	flex-grow: 0;
	width: fit-content;
	height: 100%;
	padding: 6px 14px;
	border: none;
	border-radius: 8px;
	font-size: 1.2em;
	font-weight: bolder;
	color: #FFF;
	cursor: pointer;
}
.lfeed .poll .poll-header .button.results {
	background-color: #008615;
}
.lfeed .poll .poll-header .button.close {
	background-color: #d60000;
}

.lfeed .poll .option {
	background: none;
	background-color: rgba(0, 136, 136, 0);
	border: none;
	border-radius: 5px;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0.4rem;
	transition: all 0.2s;
}
.lfeed .poll .option.disabled {
	cursor: default;
}
.lfeed .poll .option.selected {
	background-color: rgba(0, 136, 136, 0.2);
}
.lfeed .poll .option.selected.correct {
	background-color: rgba(0, 136, 0, 0.2);
}
.lfeed .poll .option.selected.wrong {
	background-color: rgba(136, 0, 0, 0.2);
}

.lfeed .poll .option > span {
	position: relative;
}

.lfeed .poll .option .select-box {
	display: inline-block;
	width: 1.2rem;
	height: 1.2rem;
	border: 0.2rem solid #888;
	border-radius: 0.2rem;
	margin-right: 0.6rem;
}
.lfeed .poll .option.selected .select-box {
	background-color: #088;
	border-color: #088;
}
.lfeed .poll .option.selected.correct .select-box {
	background-color: #080;
	border-color: #080;
}
.lfeed .poll .option.selected.wrong .select-box {
	background-color: #800;
	border-color: #800;
}

.lfeed .poll .option-text {
	font-size: 1rem;
}
.lfeed .poll .option-text.label {
	flex-grow: 1;
	color: #066;
	text-align: right;
	font-weight: bolder;
}
.lfeed .poll .selected.correct .option-text,
.lfeed .poll .correct .option-text.label {
	color: #060;
}
.lfeed .poll .selected.wrong .option-text,
.lfeed .poll .wrong .option-text.label {
	color: #600;
}