/*****************************************************************************/
/* FEED */

.lfeed {
	width: 100%;
	flex-grow: 1;
	overflow-x: hidden;
	overflow-y: auto;
	display: flex;
	flex-direction: column-reverse;
}

.lfeed .feed {
	padding: 1%;
	display: flex;
	flex-direction: column;
	gap: 6px;
}

/*****************************************************************************/
/* GENERIC POST */

.lfeed .post-timestamp {
	margin: 6px 8px 3px 8px;
	color: #888;
	font-weight: lighter;
}

.lfeed .user-container {
	margin-top: -7px;
	margin-bottom: -7px;
	padding: 0px 0px;
	float: left;
}
.lfeed .me .user-container {
	float: right;
}

.lfeed .post-bubble {
	padding: 10px 14px;
	border-radius: 12px;
	filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.07));
}

/*****************************************************************************/
/* MESSAGE */

.lfeed .msg {
	width: 60%;
	padding-left: 0%;
	padding-right: 40%;
}
.lfeed .msg.me {
	padding-left: 40%;
	padding-right: 0%;
}

.lfeed .msg .post-container {
	width: fit-content;
	margin-left: 0px;
	margin-right: auto;
}
.lfeed .msg.me .post-container {
	margin-left: auto;
	margin-right: 0px;
}

.lfeed .msg .post-bubble {
	width: fit-content;
	background-color: #F5F5F5;
	margin-left: 0px;
	margin-right: auto;
}
.lfeed .msg.me .post-bubble {
	background-color: #DBF0FF;
	margin-left: auto;
	margin-right: 0px;
}

/*****************************************************************************/
/* POLL */

.lfeed .poll {
	width: 100%;
}

.lfeed .poll .post-bubble {
	background-color: #E9F8E7;
}

.lfeed .poll .poll-header {
	display: flex;
	gap: 1em;
}

.lfeed .poll .title-container {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.lfeed .poll .title-container .container {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.lfeed .poll .title-container .line {
	margin-top: 2px;
	height: 2px;
	background-color: rgba(0.5, 0.5, 0.5, 0.15);
}

.lfeed .poll .title {
	font-size: 1.5em;
	font-weight: bold;
}

.lfeed .poll .close-time {
	font-size: 1.1em;
	color: #555;
}

.lfeed .poll .results-button {
	flex-grow: 0;
	width: fit-content;
	height: 100%;
	padding: 6px 14px;
	background-color: #008615;
	border-radius: 8px;
	font-size: 1.2em;
	font-weight: bolder;
	color: #FFF;
}